**BIG BIG HINT! Look in the instructions to guide you on this task.**

In [1]:
# Dependencies
import pandas as pd

In [2]:
# load CSV
csv_path = "Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [3]:
# Read with pandas
cleandata_pd = pd.read_csv(csv_path, encoding = 'iso-8859-1', low_memory=False)
cleandata_pd.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [4]:
# Inspect all columns
cleandata_pd.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampMonthsAgo', 'BootcampName',
       'BootcampPostSalary', 'BootcampRecommend', 'ChildrenNumber',
       ...
       'ResourceSoloLearn', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools',
       'ResourceYouTube', 'SchoolDegree', 'SchoolMajor', 'StudentDebtOwe'],
      dtype='object', length=113)

In [5]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
reduced_coders_pd = cleandata_pd.iloc[:, [0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
reduced_coders_pd.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [6]:
# Change "0" to "No" and "1" to "Yes" in response columns
reduced_coders_pd= reduced_coders_pd.replace({0.0: "No", 1.0: "Yes"})
reduced_coders_pd.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,No,30,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [1]:
# Calculate total number of respondents in survey
total_surveyed = len(reduced_coders_pd.index)

NameError: name 'reduced_coders_pd' is not defined

In [8]:
# Extract rows corresponding only to people who attended a bootcamp
attended_bootcamp = reduced_coders_pd.loc[reduced_coders_pd["AttendedBootcamp"] == "Yes"]
attended_bootcamp.count()

Age                     818
AttendedBootcamp        953
BootcampFinish          933
BootcampFullJobAfter    635
BootcampLoanYesNo       934
BootcampPostSalary      330
BootcampRecommend       937
ChildrenNumber          148
CityPopulation          823
CodeEventBootcamp        27
CountryLive             825
EmploymentField         476
EmploymentStatus        792
Gender                  833
HasChildren             211
HoursLearning           925
Income                  430
JobRoleInterest         402
SchoolDegree            832
SchoolMajor             622
dtype: int64

In [9]:
# Calculate average age of attendees
average_age = attended_bootcamp["Age"].mean()
average_age

# Calculate how many people attended a bootcamp
people_attended = attended_bootcamp["AttendedBootcamp"].count()
people_attended
# Calculate how many attendees hold degrees
hold_degrees = attended_bootcamp["SchoolDegree"].count()
hold_degrees
# Count number of attendees who self-identify as male; female; or are of non-binary gender identification
total_gender = attended_bootcamp["Gender"].count()
male_gender = attended_bootcamp["Gender"].value_counts()['male']
female_gender = attended_bootcamp["Gender"].value_counts()['female']
non_gender = total_gender - male_gender - female_gender

# Calculate percentage of respondents who attended a bootcamp
percent_attended = people_attended / total_surveyed * 100

# Calculate percentage of respondents belonging to each gender
male_percent = (male_gender / total_gender)* 100
female_percent = (female_gender / total_gender)* 100
non_gender_percent = (non_gender / total_gender)* 100

# Calculate percentage of attendees with a school degree
percent_degree = hold_degrees / total_surveyed * 100

# Calculate average post-bootcamp salary
avg_postbootcamp_salary = attended_bootcamp["BootcampPostSalary"].mean()

In [13]:
# Create a new table consolodating above calculations
bootcamp_summary = pd.DataFrame({"Total Surveyed": [total_surveyed],
                                "Total Bootcamp Attendees": [people_attended],
                                "Percent Attended": [percent_attended],
                                "Average Age": [average_age],
                                "Percent Male": [male_percent],
                                "Percent Female": [female_percent],
                                "Percent Non Gender Specific": [non_gender_percent],
                                "Holds A Degree": [hold_degrees],
                                "Average Post Bootcamp Salary": [avg_postbootcamp_salary]
                            })
bootcamp_summary = bootcamp_summary[["Total Surveyed", "Total Bootcamp Attendees", "Percent Attended", "Average Age", "Percent Male",
                                   "Percent Female", "Percent Non Gender Specific", "Holds A Degree", "Average Post Bootcamp Salary"]]
bootcamp_summary = bootcamp_summary.round(2)

bootcamp_summary

,Total Surveyed,Total Bootcamp Attendees,Percent Attended,Average Age,Percent Male,Percent Female,Percent Non Gender Specific,Holds A Degree,Average Post Bootcamp Salary
0,15620,953,6.1,31.07,59.54,39.14,1.32,832,63740.51

In [14]:
# Improve formatting before outputting spreadsheet
bootcamp_summary["Percent Male"] =bootcamp_summary["Percent Male"].map("{0:,.2f}%".format)
bootcamp_summary["Percent Female"] =bootcamp_summary["Percent Female"].map("{0:,.2f}%".format)
bootcamp_summary["Percent Attended"] =bootcamp_summary["Percent Attended"].map("{0:,.2f}%".format)
bootcamp_summary["Percent Non Gender Specific"] =bootcamp_summary["Percent Non Gender Specific"].map("{0:,.2f}%".format)
bootcamp_summary["Holds A Degree"] =bootcamp_summary["Holds A Degree"].map("{0:,.2f}%".format)
bootcamp_summary["Average Post Bootcamp Salary"] =bootcamp_summary["Average Post Bootcamp Salary"].map("{0:,.2f}%".format)
bootcamp_summary

,Total Surveyed,Total Bootcamp Attendees,Percent Attended,Average Age,Percent Male,Percent Female,Percent Non Gender Specific,Holds A Degree,Average Post Bootcamp Salary
0,15620,953,6.10%,31.07,59.54%,39.14%,1.32%,832.00%,"63,740.51%"

In [15]:
# Export to Excel
bootcamp_summary.to_excel("output/Bootcamppart1.xlsx", index=False)